.input-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1.5px solid #d1d5db;
  padding: 10px 8px;
  border-radius: 4px;
  margin-bottom: 12px;
}

.pwd-input {
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  border-radius: 4px;
  outline: none;
  border: none;
}

.icon-style {
  color: #3490dc;
  cursor: pointer;
}

.slash {
  color: gray;
}
